html {
  background-color: #999;
  display: flex;
  height: 100%;
}

body {
  /*font-family: 'VTFMisterPixelRegular'; */
  font-family: "Segoe UI",Roboto,"Helvetica Neue",sans-serif;
  font-weight: normal; 
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #999;
  width: 100%;
  padding: 0;
  margin: 0;
}

#logo {
  margin-bottom: 20px;
  padding: 20px;
}

#app {
  border: 1px solid #666;
  margin: 10px;
  max-width: 1210px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  box-shadow: inset 0px 0px 21px -6px rgba(0,0,0,0.75);
}

#container {
  display: flex;
  justify-content: center;
}

#bottom {
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

canvas {
  margin-top: 20px;
  filter: drop-shadow(0 0 0.2rem black);
}

input[type=range] {
  width: 95px;
}

input[type=color] {
  background-color: #333;
  cursor: pointer;
  height: 22px;
  padding: 0;
  width: 40px;
}

input[type=color]::-webkit-color-swatch {
  border: 0;  /* To remove the gray border. */
}

input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;  /* To remove the inner padding. */
}

input[type=color]::-moz-color-swatch {
  border: 0;
}

input[type=color]::-moz-focus-inner {
  border: 0;  /* To remove the inner border (specific to Firefox). */
  padding: 0;
}      

ul li {
  margin-bottom: 8px;
}

#logo {
  background-color: #eee;
  display: flex;
  justify-content: center;
}

.download {
  display: flex;
  justify-content: center;
}